// header.component.scss
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  .header-left {
    img {
      width: 100px;
      height: auto;
    }
  }

  .header-middle {
    a.header-link {
      margin-right: 20px;
    }
  }

  .header-right {
    a.header-link {
      color: #333;
      text-decoration: none;

      &:hover {
        color: #ccc;
      }
    }
  }
}
